<div class="header-main">
    <div class="header-content">
        <div class="header-left">
            <div class="logo-image"><a href="../homepage"><img src="../../assets/logo.svg"></a></div>
            <div class="rs">.rs</div>
        </div>

        <div class="header-right">
            <a class="button rez" (click)="goOnOrders()">Pronađi moje rezervacije kao gost</a>
            <div *ngIf="!ulogovan">
                <a class="button ulog" (click)="goOnLogIn()">Ulogujte se</a>
                <a class="button reg" (click)="goOgRegistration()">Registrujte se</a>
            </div>
            <div *ngIf="ulogovan!=null">
                <a class="button ulog" (click)="goOnProfile()">{{ulogovan.inputImeIPrezime}}</a>
                <a class="button odjavi" (click)="logOut()">Odjavite se</a>
            </div>
        </div>
    </div>
</div>