<div class="header-main">
    <div class="header-content">
        <div class="header-left">
            <div class="logo-image"><a href="https://sharebico.rs/category/medicinske-usluge"><img src="../../assets/logo.svg"></a></div>
            <div class="rs">.rs</div>        
        </div>

        <div class="header-right">
            <a href="https://sharebico.rs/guest/login" class="button rez">Pronađi moje rezervacije kao gost</a>
            <a href="https://sharebico.rs/login" class="button ulog">Ulogujte se</a>
            <a href="https://sharebico.rs/register" class="button reg">Registrujte se</a>
        </div>
    </div>
</div>


<!-- <p>header works!</p> -->