<div class="footer">
    <div class="footer-center">
        <div class="footer-up">
            <div class="footer-sec">
                <div><b>Sharebico</b></div>
                <div class="item"><a>O nama</a></div>
                <div class="item"><a>Kontakt</a></div>
            </div>
            <div class="footer-sec">
                <div><b>Informacije</b></div>
                <div class="item"><a>Uslovi korišćenja</a></div>
            </div>
            <div class="footer-sec">
                <div><b>Društvene mreže</b></div>
                <div class="item"><a>LinkedIn</a></div>
                <div class="item"><a>Facebook</a></div>
                <div class="item"><a>Instagram</a></div>
                <div class="item"><a>YouTube</a></div>
            </div>
            <div class="footer-sec">
                <div><b>Kontakt</b></div>
                <div class="item"><a>office@sharebico.com</a></div>
            </div>
        </div>
        <div class="footer-down">Sharebico.com © 2022 All rights reserved.</div>
    </div>
</div>
