@import "../../styles.scss";
//$homepageHigh: 1750px;

.homepage {
    display: flex;
    //height: $homepageHigh;
    background-color: #f7f7f7;
    justify-content: center;
    font-family: Montserrat, sans-serif;

    .homepage-center {
        display: flex;
        margin-top: 20px;
        top: 50px;
        width: 65%;
    }
}

.pink {
    color: $pinkcolour;
}

.homepage-left {
    display: flex;
    flex-direction: column;
    width: 59%;
    padding-right: 10px;
}

.homepage-tooth-image {
    width: 92%;
    height: 20%;
}

.homepage-tooth-image img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}

.homepage-right {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    padding-bottom: 20px;
    border: 2px solid $pinkcolour;
    border-radius: 5px;
}

.heading-form {
    align-self: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.user-data-inputs {
    align-self: center;
    width: 90%;
}

.section {
    margin-top: 20px;
}

.label {
    margin-left: 10px;
}

.input {
    width: 97.9%;
    height: 30px;
    margin-top: 3px;
    padding-left: 10px;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    background: #EEEEEE;
}

::-webkit-input-placeholder {
    color: transparent;
}

:hover::-webkit-input-placeholder {
    color: #999;
}

.input:focus {
    outline-color: $pinkcolour;
}

.user-data {
    align-self: center;
    width: 90%;
    margin-top: 20px;
}
.alert {
    padding: 20px;
    color: $pinkcolour;
    font-weight: bold;
  }

.section-check-radio {
    display: flex;
    flex-direction: row;
    margin: 7px;

    input[type=checkbox] {
        display: none;
    }

    input[type=checkbox]+label {
        background: url("../../assets/checkbox-btn-inactive.svg") left top no-repeat;
        background-size: 25px 25px;
        display: inline-block;
        min-height: 25px;
        padding-left: 35px;
        line-height: 25px;
        font-size: 14px;
        color: #000;
        cursor: pointer;
        margin: 0px;
    }

    input[type=checkbox]:checked+label {
        background: url("../../assets/checkbox-btn-active.svg") left top no-repeat;
        background-size: 25px 25px;
    }

    input[type=radio] {
        display: none;
    }

    input[type=radio]+label {
        background: url("../../assets/radio-btn-inactive.svg") left top no-repeat;
        background-size: 25px 25px;
        display: inline-block;
        min-height: 25px;
        padding-left: 35px;
        line-height: 25px;
        font-size: 14px;
        color: #000;
        cursor: pointer;
        margin: 0px;
    }

    input[type=radio]:checked+label {
        background: url("../../assets/radio-btn-active.svg") left top no-repeat;
        background-size: 25px 25px;
    }
}

.user-data textarea {
    width: 97.9%;
    margin-top: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    background: #EEEEEE;
    resize: none;
    padding-left: 5px;
    padding-top: 3px;
}

textarea:focus {
    outline-color: #af376d;
}

.buttons {
    align-self: center;
    display: flex;
    width: 90%;
    margin-top: 20px;
    justify-content: space-between;
}

.posaljite {
    display: flex;
    width: 35%;
    height: 30px;
    border: 1px solid $pinkcolour;
    border-radius: 15px;
    background: $pinkcolour;
    color: white;
    justify-content: center;
    align-items: center;
}

.posaljite:hover {
    cursor: pointer;
}

.odustanite {
    display: flex;
    width: 35%;
    height: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    background: #EEEEEE;
    justify-content: center;
    align-items: center;
}

.odustanite:hover {
    cursor: pointer;
}

.errorClass {
    padding-left: 5px;
    color: #af376d;
    font-size: 13px;
    font-weight: bold;
}