<div class="homepage">
    <div class="homepage-center">
        <div class="homepage-left">
            <h2>Zubni implanti - najnovije tehnike: Raspon cena, ocene ordinacija i zakazivanje termina</h2>
            <p>Kao što postoje marke automobila Fiat, Škoda, VW, Mercedes i Ferrari, tako postoje i različiti brendovi i
                kvalitet implantata, a da budemo iskreni, isto se može reći i za razlike u iskustvu, kvalitetu i cenama
                rada različitih stomatologa.</p>
            <p><b>Popunite kratku <span class="pink">formu</span>(sa desne strane ili u dnu ovog teksta) i
                    kliknite "Pošaljite" kako bismo Vas informisali o cenama i najnovijim tehnikama ugradnje implantata
                    u Srbijii i regionu.</b> Razlike u cenama su često značajne za isti kvalitet usluga u različitim
                ordinacijama, pa ćete <b>samo na osnovu ovih informacija moći da uštedite od nekoliko stotina do čak
                    nekoliko hiljada evra za veće intervencije.</b></p>
            <p><b>Možete i direktno kontaktirati naše administratore na telefon Tourist Medical web platforme
                    +381.62.256.000</b>, a možete nam pisati ili pozvati na Viber ili WhatsApp na navedeni broj ukoliko
                se javljate iz inostranstva.</p>
            <div class="homepage-tooth-image">
                <a href="../../index.html"><img src="../../assets/toothImage.jpg"></a>
            </div>
            <h4>Tourist Medical platforma</h4>
            <p>Radimo samo sa proverenim i preporučenim ordinacijama koje imaju najviše ocene od strane pacijenata, a
                pored toga što ćemo vam uštedeti vreme, garantujemo najnižu cenu za dati kvalitet usluge.</p>
            <p>Naš tim sa booking platforme Tourist Medical koji posluje u okviru Sharebico grupacije, radi završne
                pripreme za lansiranje globalne booking platforme za medicinske usluge. Platforma pokriva i Srbiju koja
                je prepoznata po kvalitetnim doktorima, ali i značajno nižim cenama u odnosu na razvijene zemlje zapada.
            </p>
            <p>Iako je dodavanje različitih funkcionalnosti i unapređenje dizajna Tourist Medical platforme i daje u
                toku, već sada možete dobiti besplatne savete, ali i rezervisati termin po najpovoljnijim uslovima za
                dati kvalitet usluge.</p>
            <p>Pored medicinskih usluga, Sharebico platfoma će pokrivati i usluge rezervacija rent a car-a, smeštaja,
                avio karata, rezervacije događaja i drugih usluga na globalnom nivou.</p>
            <h4>Kako se kreću cene za implante i protetiku u Srbiji?</h4>
            <p><b>Zubni implanti se kreću od 300 do 1.000 eur po implatnu za one najkvalitetnije.</b> Implanti lošijeg
                kvaliteta ili one koji su rizični da naprave problem sa zdravljem, ne mogu biti ni vidljivi na Tourist
                Medical platformi, niti sarađujemo sa takvim ordinacijama.</p>
            <p><b>Bezmetalne krunice</b> se kreću od 140 do 200 evra.</p>
            <p><b>Metalo-keramičke krunice</b> od 70 - 120 evra</p>
            <p><b>Akrilatne proteze</b> od 150 - 350 evra</p>
            <p><b>Hollywood Smile</b> za obe vilice od 2.800 do 5.600 evra</p>
            <p>Za detalje, kontaktirajte nas na +381.62.256.000.</p>
        </div>

        <form class="homepage-right" [formGroup]="medicalOrderForm">
            <div class="heading-form">Popunite formu</div>
            <div class="user-data-inputs">

                <div class="section">
                    <div class="label"><span class="pink">*</span>Ime i prezime</div>
                    <input required class="input" id="fullname" type="text" placeholder="Unesite ime i prezime..."
                        formControlName="inputImeIPrezime" minlength="4">
                        
                    <!--Validacija-->
                    <div class="errorClass" *ngIf="punoIme.invalid && (punoIme.dirty || punoIme.touched)">
                        <div *ngIf="punoIme.errors?.['required']">
                            Ime je obavezno!
                        </div>
                        <div *ngIf="punoIme.errors?.['minlength']">
                            Ime ne sme biti krace od 4 karaktera!
                        </div>
                        <div *ngIf="punoIme.errors?.['pattern']">
                            Ime sme da sadrži samo slova!
                        </div>
                    </div>

                </div>

                <div class="section">
                    <div class="label" for="email">Email</div>
                    <input class="input" type="email" placeholder="Unesite E-mail..." formControlName="inputEmail">
                </div>

                <div class="section">
                    <div class="label" for="tel"><span class="pink">*</span>Broj telefona</div>
                    <input required class="input" type="text" placeholder="Unesite broj telefona..."
                        formControlName="inputTelefon">

                    <!--Validacija-->
                    <div class="errorClass" *ngIf="telefon.invalid && (telefon.dirty || telefon.touched)">
                        <div *ngIf="telefon.errors?.['required']">
                            Broj telefona je obavezan!
                        </div>
                        <div *ngIf="telefon.errors?.['pattern']">
                            Telefon moze sadrzati samo cifre!
                        </div>
                    </div>

                </div>

                <div class="section">
                    <div class="label"><span class="pink">*</span>Zemlja i grad prebivališta</div>
                    <input requred class="input" type="text" placeholder="Unesite zemlju i grad..."
                        formControlName="inputZemljaIGrad">

                    <div class="errorClass" *ngIf="mesto.invalid && (mesto.dirty || mesto.touched)">
                        <div *ngIf="mesto.errors?.['required']">
                            Zemlja i grad su obavezni!
                        </div>
                        <div *ngIf="mesto.errors?.['pattern']">
                            Zemlja i grad mogu sadržati samo slova!
                        </div>
                    </div>
                </div>

            </div>

            <div class="user-data">
                <div class="label"><span class="pink">*</span>Koja usluga vas interesuje?</div>
                <div class="section-check-radio"><input type="checkbox" value="Protetika" id="ch1"
                        (change)="onCheckboxChange($event)" #checkBox><label for="ch1">Protetika</label></div>
                <div class="section-check-radio"><input type="checkbox" value="Implanti" id="ch2"
                        (change)="onCheckboxChange($event)" #checkBox><label for="ch2">Implanti</label></div>
                <div class="section-check-radio"><input type="checkbox" value="Lecenje zuba" id="ch3"
                        (change)="onCheckboxChange($event)" #checkBox><label for="ch3">Lečenje zuba</label></div>
                <div class="section-check-radio"><input type="checkbox" value="Nesto drugo" id="ch4"
                        (change)="onCheckboxChange($event)" #checkBox><label for="ch4">Nešto drugo</label></div>

                <div *ngIf="" class="errorClass">Obavezno je izabrati bar jednu od usluga!</div>
            </div>



            <!-- <div *ngFor="let service of services; let i=index" class="col-md-2">
                <label>
                  <input type="checkbox" [value]="service.value" (change)="onCheckboxChange($event)">
                  {{service.name}}
                </label>
            </div> -->

            <div class="user-data">
                <div class="label"><span class="pink">*</span>Idealna lokacija ordinacije</div>
                <div class="section-check-radio"><input type="radio" value="Beograd i okolina" id="rd1"
                        formControlName="lokacija">
                    <label for="rd1">Beograd i okolina</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="Novi Sad i okolina" id="rd2"
                        formControlName="lokacija">
                    <label for="rd2">Novi Sad i okolina</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="Drugi grad u Srbiji" id="rd3"
                        formControlName="lokacija">
                    <label for="rd3">Drugi grad u Srbiji</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="Region" id="rd4" formControlName="lokacija">
                    <label for="rd4">Region</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="Svejedno" id="rd5"
                        formControlName="lokacija">
                    <label for="rd5">Svejedno</label>
                </div>
            </div>

            <div class="user-data">
                <div class="label"><span class="pink">*</span>Kada biste posetili stomatologa?</div>
                <div class="section-check-radio"><input type="radio" value="Što pre" id="rd11" formControlName="vreme">
                    <label for="rd11">Što pre</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="U narednih mesec dana" id="rd12"
                        formControlName="vreme">
                    <label for="rd12">U narednih mesec dana</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="U naredna 3 meseca" id="rd13"
                        formControlName="vreme">
                    <label for="rd13">U naredna 3 meseca</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="U narednih 6 meseci" id="rd14"
                        formControlName="vreme">
                    <label for="rd14">U narednih 6 meseci</label>
                </div>
                <div class="section-check-radio"><input type="radio" value="Ne znam" id="rd15" formControlName="vreme">
                    <label for="rd15">Ne znam</label>
                </div>

                <div class="errorClass" *ngIf="vreme.invalid && (vreme.dirty || vreme.touched)">
                    <div *ngIf="vreme.errors?.['required']">
                        Vreme kada biste posetili je obavezno!
                    </div>
                </div>
            </div>

            <div class="user-data">
                <div class="label">Napomena</div>
                <textarea name="napomena" rows="6" formControlName="inputNapomena"></textarea>
            </div>

            <div class="buttons">
                <div class="posaljite" (click)="showInputs()">Pošaljite</div>
                <div class="odustanite">Odustanite</div>
            </div>

        </form>
    </div>
</div>