@import "../../styles.scss";
$homepageHigh:1750px;
.homepage{
    //position: absolute;
    display: flex;
    //top: 67px;
    //left: 0;
    //right: 0;
    height: $homepageHigh;
    background-color: #f7f7f7;
    justify-content: center;
    //margin-top: 67px;
    //font-family: Arial, Helvetica, sans-serif;
    font-family: Montserrat,sans-serif;
    .homepage-center{
        display: flex;
        //position: absolute;
        margin-top: 20px;
        top: 50px;
        width: 65%;
        //height: 1750px;
       //border: 1px solid red;
    }
}

.pink{
    color: $pinkcolour;
}
.homepage-left{
    //position: absolute;
    display: flex;
    flex-direction: column;
    width: 59%;
    //height: 1750px;
    //justify-self: flex-start;
    //left: 0;
    //border: 1px solid green;
}
.homepage-tooth-image{
    width: 92%;
    height: 20%;
    //border: 1px solid blueviolet;
}
.homepage-tooth-image img{
    width: 100%;
    height: 100%;
    position: relative;
    //top: 0px;
    //left: 0px;
    object-fit: cover;
}

.homepage-right{
    //position: absolute;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: fit-content;
    padding-bottom: 20px;
   // right: 0;
    //height: 1100px;
    //height: 72%;
    border: 2px solid $pinkcolour;
    border-radius: 5px;
}
.heading-form{
    //position: relative;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.user-data-inputs{
    //position: relative;
    //border: 1px solid black;
    //padding: 0px 20px;
    align-self: center;
    width:90% ;
}
.section{
    margin-top: 20px;
}
.label{
    margin-left: 10px;
}
.input{
    width: 97.9%;
    height: 30px;  
    margin-top: 3px;
    padding-left: 10px; 
    border: 1px solid #EEEEEE;
    border-radius: 15px; 
    background: #EEEEEE;
}

::-webkit-input-placeholder{
    color: transparent;
}
:hover::-webkit-input-placeholder{
    color: #999;
}
.input:focus{
    outline-color: $pinkcolour;
}
.user-data{
    //position: relative;
    align-self: center;
    width: 90%;
    margin-top: 20px;
}
.section-check-radio{
    display: flex;
    flex-direction: row;
    margin: 7px;
    //border: 1px solid red;

    input[type=checkbox]{
        display: none;
    }

    input[type=checkbox] + label{
        background: url("../../assets/checkbox-btn-inactive.svg") left top no-repeat;
        background-size: 25px 25px;
        display: inline-block;
        min-height: 25px;
        padding-left: 35px;
        line-height: 25px;
        font-size: 14px;
        color: #000;
        cursor: pointer;
        margin: 0px;
    }

    input[type=checkbox]:checked+ label{
        //background-color: red;
        background: url("../../assets/checkbox-btn-active.svg") left top no-repeat;
        background-size: 25px 25px;
    }

    input[type=radio]{
        display: none;
    }

    input[type=radio] + label{
        background: url("../../assets/radio-btn-inactive.svg") left top no-repeat;
        background-size: 25px 25px;
        display: inline-block;
        min-height: 25px;
        padding-left: 35px;
        line-height: 25px;
        font-size: 14px;
        color: #000;
        cursor: pointer;
        margin: 0px;
    }

    input[type=radio]:checked + label{
        //background-color: red;
        background: url("../../assets/radio-btn-active.svg") left top no-repeat;
        background-size: 25px 25px;
    }

    
}

// .section-check-radio img{
//     width: 20px;
//     height: 20px;
//     border: 1px solid yellow;
// }

.user-data textarea{
    width: 97.9%;
    margin-top: 5px;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    background: #EEEEEE;
    resize: none;
    padding-left: 5px;
    padding-top: 3px;
}
textarea:focus{
    outline-color: #af376d;
}
.buttons{
    //position: relative;
    align-self: center;
    display: flex;
    width: 90%;
    margin-top: 20px;
    justify-content: space-between;
}
.posaljite{
    //position: relative;
    display: flex;
    width: 35%;
    height: 30px;
    border: 1px solid $pinkcolour;
    border-radius: 15px;
    background: $pinkcolour;
    color: white;
    justify-content: center;
    align-items: center;
}
.posaljite:hover{
    cursor: pointer;
}
.odustanite{
    //position: relative;
    display: flex;
    width: 35%;
    height: 30px;
    border: 1px solid #EEEEEE;
    border-radius: 15px;
    background: #EEEEEE;
    justify-content: center;
    align-items: center;
    
}
.odustanite:hover{
    cursor: pointer;
}
.errorClass{
    padding-left: 5px;
    color: #af376d;
    font-size: 13px;
    font-weight: bold;
    //border: 1px solid red;
}