@import "../../styles.scss";

.orders {
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    padding-bottom: 50px;
    font-family: Montserrat,sans-serif;
    .orders-center{
        display: flex;
        padding-left: 100px;
        align-items: flex-start;
        flex-direction: column;
        background-color: white;
        margin-top: 20px;
        width: 50%;
        .ordersDetail{
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            padding-bottom: 5px;
            border-bottom: 1px solid $pinkcolour;
            .right-details{
                margin-left: 50px;
                font-weight: bold;
            }
        }
    }
}


// table tr td {
//     border: 1px solid $pinkcolour;
// }

// .details:hover {
//     cursor: pointer;
//     color: $pinkcolour;
// }
// .headingDetailsOrder{
//     display:flex;
//     justify-content: center;
//     font-weight: bold;
//     margin: 15px 0;
// }
// .orderDetails {
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     padding-bottom: 20px;
//     .orderDetails-section {
//         display: flex;
//         flex-direction: column;
//         margin: 0 px;
//     }
// }