@import "../../styles.scss";
.orders{
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    //flex-direction: column;
    //height: 1750px;
    padding-bottom: 50px;
    //margin-bottom: 50px;
    .orders-center{
        display: flex;
        flex-direction: column;
        margin-top: 35px;
        width: 90%;
        border: 1px solid $pinkcolour;
        .headings{
            padding: 0 3px;
            display: flex;
            flex-direction: row;
            //height: fit-content;
            //justify-content: space-between;
            flex-grow: 1;
            border-bottom: 1px solid $pinkcolour;
            .section{
                display: flex;
                flex-grow: 1;
                border: 1px solid green;
            }
        }
    }
}
table tr td{
    border: 1px solid $pinkcolour;
}
