<div class="orders">
    <div class="orders-center" >
        <h3>Detalji rezervacija:</h3>
        <div class="ordersDetail" *ngFor="let orderForm of orderForms let i=index">
            <div class="left-details">
                <div>ID:</div>
                <div>Korisnik:</div>
                <div>Email:</div>
                <div>Kontakt:</div>
                <div>Mesto:</div>
                <div>Usluge:</div>
                <div>Lokacija ordinacije:</div>
                <div>Vreme pregleda:</div>
                <div>Napomena:</div>
                <div>Vreme zakazivanja:</div>
                <div *ngIf="komentar">Komentar: </div>
            </div>
            <div class="right-details">
                <div>{{orderForm.id}}</div>
                <div>{{orderForm.imeIPrezime}}</div>
                <div>{{orderForm.email}}</div>
                <div>{{orderForm.telefon}}</div>
                <div>{{orderForm.zemljaIGrad}}</div>
                <div>{{orderForm.usluge}}</div>
                <div>{{orderForm.lokacija}}</div>
                <div>{{orderForm.vremePregleda}}</div>
                <div>{{orderForm.napomena}}</div>
                <div>{{orderForm.vremeZakazivanja}}</div>
                <div *ngIf="komentar">{{komentar}</div>
            </div>
            <div class="komentar" mat-raised-button (click)="openDialog()">Dodajte komentar...</div>
        </div>


        <!-- <table>
            <tr class="tableHeading">
                <th>Red.br.</th>
                <th>Korisnik</th>
                <th>Email</th>
                <th>Kontakt</th>
                <th>Detalji</th>
            </tr>
            <tr *ngFor="let orderForm of orderForms let i=index">
                <td>{{i+1}}</td>
                <td>{{orderForm.imeIPrezime}}</td>
                <td>{{orderForm.email}}</td>
                <td>{{orderForm.telefon}}</td>
                <td (click)="orderDetails(orderForm)" class="details">Detalji rezervacije</td>
            </tr>
        </table>
        <div class="headingDetailsOrder">Detalji rezervacije: </div>
        <div class="orderDetails">
            <div class="orderDetails-section">
                <label>ID:</label>
                <label>Korisnik:</label>
                <label>Email:</label>
                <label>Kontakt:</label>
                <label>Mesto:</label>
                <label>Usluge:</label>
                <label>Lokacija ordinacije:</label>
                <label>Vreme pregleda:</label>
                <label>Napomena:</label>
                <label>Vreme zakazivanja:</label>
            </div>
            <div class="orderDetails-section">
                <label>{{orderForma.id}}</label>
                <label>{{orderForma.imeIPrezime}}</label>
                <label>{{orderForma.email}}</label>
                <label>{{orderForma.telefon}}</label>
                <label>{{orderForma.zemljaIGrad}}</label>
                <label>{{orderForma.usluge}}</label>
                <label>{{orderForma.lokacija}}</label>
                <label>{{orderForma.vremePregleda}}</label>
                <label>{{orderForma.napomena}}</label>
                <label>{{orderForma.vremeZakazivanja}}</label>
            </div>
        </div> -->

    </div>
</div>