.footer{
    //position: absolute;
    display: flex;
    top: 1817px;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background-color: #f7f7f7;
    justify-content: center;
}
.footer-center{
    position: relative;
    display: flex;
    width: 65%;
    border-top: 2px solid #DEDEDE;
    justify-content: center;
}
.footer-up{
    position: absolute;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-self: flex-start;
    padding-top: 50px;
    justify-content: space-between;
}
.footer-sec{
    display: flex;
    //border: 1px solid red;
    flex-direction: column;
}
.footer-sec a:hover{
    color: #af376d;
    cursor: pointer;
}
.item{
    margin: 10px 0;
    color: #777777;
}
.footer-down{
    position: absolute;
    display: flex;
    align-self:flex-end;
    margin-bottom: 35px;
}